.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
tr:hover {background-color: #b1b1b12d}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 0px 0px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
body {
	font-family: 'Lato', sans-serif;
	padding: 0px;
	margin:0px;
}
.homeinfo {
	position: relative;
	height: 900px;
	display: flex;
	background-color: #856B52;
}
.homeimage{
	z-index: 0;
	width:100%;
	height:100%;
}
#hometitle{
	text-decoration:underline;
}
table{
    z-index: 2;
	position: absolute;
	color: rgb(255, 255, 255);
    font-size: 30px;
    border-collapse: collapse;
	top: 30%;
	align-content: top;
	justify-content: space-around;
	align-items: stretch;
	flex-direction: row;
	flex-wrap: wrap;
	text-transform: capitalize;
}
th, td {
    border-bottom: 1px solid rgba(221, 221, 221, 0.301);
    padding: 10px;
}
div{
	z-index: 2;
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 60px;
	top: 10%;
	font-weight: bold;
	align-content: top;
	justify-content: space-around;
	align-items: stretch;
	background-size: 100% 100%;
	flex-direction: row;
	flex-wrap: wrap;
	text-transform: capitalize;
}
li{
	z-index: 2;
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 16px;
	top: 10%;
	font-weight: bold;
	align-content: top;
	justify-content: space-around;
	align-items: stretch;
	background-size: 100% 100%;
	flex-direction: row;
	flex-wrap: wrap;
	text-transform: capitalize;
}
