body {
	font-family: 'Lato', sans-serif;
	padding: 0px;
	margin:0px;
}
	height: 50px;
	background-color: #393939;
	display: flex;
	align-self: center;
	justify-content: space-around;
	flex-flow: row nowrap;
    box-shadow: 0px 15px 15px -10px rgba(0,0,0,0.15);
}
.icon{
	transition:400ms;
	height:50px;
}
#footer {
	position: relative;
	height: 50px;
	background-color: #393939;
	font-weight: bold;
	clear: both;
	font-size: 18px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: rgb(0, 0, 0);
	flex-flow: row nowrap;
	margin-right: 10px;
	flex-shrink:2;
	flex-basis: 10px;
}
.menus{
	z-index: 1;
    position:relative;
	float:none;
	margin-right: 20px;
	font-size: 15px;
	color: rgb(255, 255, 255);
	margin-top:10px;
	text-decoration: none;
}
.menus:hover {
	color:rgb(74, 202, 111);
	transform: translateY(-5px);
	transition: 400ms;
}
#bottomtext:hover {
	color:rgb(74, 202, 111);
	transform: translateY(-2px);
	transition: 400ms;
}
a{
    transition: 400ms;
}
.center {
	position: relative;
	float: left;
	height: 900px;
	display: flex;
	background-color: #ffffff;
}