body {
	font-family: 'Lato', sans-serif;
	padding: 0px;
	margin:0px;
}

#header {
	position: relative;
	height: 60px;
	background-color: #393939;
	display: flex;
	align-self: center;
	justify-content: space-around;
	flex-flow: row nowrap;
	flex-basis: 10px;
}
#icon{
	transition:400ms;
	height:60px;
	float:left;
}
img:hover{
	transform: translateY(-5px);
    transition: 400ms;
}
#footer {
	position: relative;
	height: 50px;
	background-color: #393939;
	font-weight: bold;
	clear: both;
	font-size: 18px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: rgb(0, 0, 0);
	flex-direction: row;
	display: flex;
	align-self: center;
	justify-content: space-around;
	flex-flow: row nowrap;
	margin-right: 10px;
	flex-shrink:2;
	flex-basis: 10px;
}
#name{
	float:left;
    position:relative;
	font-weight:bold;
	font-size: 30px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	flex-grow: 2;
}
.menus{
	z-index: 1;
    position:relative;
	float:none;
	margin-right: 20px;
	font-weight:bold;
	font-size: 15px;
	color: rgb(0, 0, 0);
	margin-top:10px;
}
a:hover {
	color:rgb(74, 202, 111);
	transform: translateY(-5px);
    transition: 400ms;
}
a{
    transition: 400ms;
}
.center {
	position: relative;
	float: left;
	height: 720px;
	display: flex;
	background-color: #ffffff;
}