.centerinfo {
	position: relative;
	float: left;
	height: 900px;
	display: flex;
	background-color: #856B52;
	align-content: center;
	justify-content: center;
	background-size: 100% 100%;
}
.imageProfile{
	z-index: 0;
	width:100%;
	height:100%;
}
#info{
	z-index: 2;
	position: absolute;
	color: rgb(0, 0, 0);
	font-size: 10px;
	align-self: center;
	top: 20%;
}