.centerinfo {
	z-index: 0;
	position: relative;
	float: left;
	height: 900px;
	display: flex;
	background-color: #ffffff;
	align-content: center;
	justify-content: center;
	background-size: 100% 100%;
}
.imageProfile{
	width:1000px;
	height:667px;
}