body {
	font-family: 'Lato', sans-serif;
	padding: 0px;
	margin:0px;
}
.centerinfo {
	position: relative;
	height: 80vh;
	display: flex;
	border: 1px solid rgba(0,0,0,0.18);
    display: block;
    padding: 25px;
    width: 80vw;
    text-align: center;
    margin: 5% auto;
	box-shadow: 0px 15px 15px -10px rgba(0,0,0,0.11);
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}			
#profile-image1 {
    cursor: pointer;
  
     width: 100px;
    height: 100px;
	border:2px solid #03b1ce ;}
	.tital{ font-size:16px; font-weight:500;}
	 .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}	
.userProfileTitle {
    color: #393939;
    font-size: 30px;
    margin: 10px;
	text-transform: uppercase;
	text-align: center;

}
.userProfilehr {
    border: 1px solid grey;
    margin-bottom: 35px;
    width: 70%;
}
.mainPlat{
	z-index: 2;
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 60px;
	top: 10%;
	font-weight: bold;
	align-content: top;
	justify-content: space-around;
	align-items: stretch;
	background-size: 100% 100%;
	flex-direction: row;
	flex-wrap: wrap;
	text-transform: capitalize;
	width: 85vw;
	height: 70vh;
	border: 1px solid rgba(0, 0, 0, 0.18);
	box-shadow: 0px 15px 15px -10px rgba(0,0,0,0.11);
}
ul{
	list-style: none;
	z-index: 2;
	position: absolute;
	color: #393939;
	font-size: 26px;
	top: 10%;
	align-content: left;
	justify-content: space-around;
	align-items: stretch;
	background-size: 100% 100%;
	flex-direction: row;
	flex-wrap: wrap;
}
li{
	margin: 50px 0;
}